.header{
    background: #DB4661;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.header__left a h4{
    color: #fff;
}
.header__bottom .header__question {
   color: #fff;
   text-decoration: underline;
}
.right_navbar{
    text-align: center;
    display: flex;
    gap: 10px;
}
.right_navbar a img{
    background-color: #ee9d9d;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
}
.right_navbar a{
    color: #fff;
}
.right_navbar button{
    border: none;
    border-radius: 4px;
    padding: 5px;
    color: #DB4661;
}
.header__second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo p{
    background-color: rgb(199, 199, 199);
    color:grey;
    padding: 4px;
    margin-top: 8px;
}
.header__info{
    display: flex;
    text-align: center;
    gap: 12px;

}
.header__info a{
size:13px;
font-weight: 600;
color: black;
transition: 0.2s;
}
.header__info a:hover{
    color: #6081D2;
}

/* section */

.products__top{
    position: relative;
    margin-top: 25px;
}
.products__top h3{
    position: absolute;
    top: 50px;
    left: 40px;
    color: #fff;
    width: 423px;
    font-size: 35px;
}

.one-product__total{
    display: flex;
   margin-top: 40px;
    gap: 50px;
}
.one__product img{
    width: 370px;
}
.one-product__inner{
    display: flex;
   gap: 70px;
   margin-top: 20px;
}
.one-product__inner div p{
    color: grey;
    margin-bottom: 10px;
}
button{
    background-color: #6081D2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    width: 160px;
    margin-top: 20px;
}
.form__total{
    /* margin-top: 50px; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 209, 209);
    padding: 10px;
    border-radius: 6px;
}
.one__card{
    box-shadow: 2px 2px 7px 2px grey;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 60px;
    width: 1170px;
}
