@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

main {
    background: #F5F5F5;
}

.pagination {
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    gap: 4px;
    margin-bottom: 30px;
}

.link {
    text-decoration: none;
    color: #797979;
}

.link:active {
    color: #6081D2;
    animation-duration: 0.2s;
}


.infos {
    display: flex;
    gap: 30px;
    align-items: start;
}

.aside-comment {
    width: 270px;
}

.aside-comment-info {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

.aside-comment_header {
    padding: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-comment_header>div {
    display: flex;
    gap: 11px;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.asidebar-comment {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}

.asidebar-comment:hover {
    background-color: #0000000A;
    color: #DB4661;
}

.asidebar-comment:active {
    background-color: #0000000A;
    color: #DB4661;
}

.aside-title {
    margin: 0 80px;
    text-align: center;
    margin-top: 15px;
}

.aside-title>small {
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
}

.aside-title>p {
    color: rgb(219, 70, 97);
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
}

.aside-title>button {
    margin: 0 -10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 20px;
    background-color: #4766B2;
    border: none;
    border-radius: 6px;
}

.aside-title>button:hover {
    cursor: pointer;
    background-color: #052986;
}

.card {
    width: 870px;
}

.info-card {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px #00000014;
    background: rgb(255, 255, 255);
}


.choose>div>input {
    border: 1.5px solid #00000014;
    border-radius: 6px;
}

.info-card>p {
    color: rgb(96, 129, 210);
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.owner {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.owner>input:nth-child(4) {
    width: 150px;
    height: 38px;
}

select {
    width: 220px;
    height: 38px;
    border: none;
    padding: 0 10px 0 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.card-select {
    display: flex;
    gap: 10px;

}

.input {
    padding: 8px 10px;
    outline: none;
    width: 220px;
    height: 38px
}

.card-select>button {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 34px;
    background-color: #4766B2;
    border: none;
    border-radius: 6px;
}

.card-select>button:hover {
    cursor: pointer;
    background-color: #052986;
}

.card-pass {
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px #00000014;
    background: rgb(255, 255, 255);
}

.card-pass>p {
    color: rgb(96, 129, 210);
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.password {
    display: flex;
    gap: 10px;
}

.password>input {
    border: 1.5px solid #00000014;
    border-radius: 6px;
    padding: 8px 10px;
    outline: none;
    width: 220px;
    height: 38px
}

.password>button {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 37px;
    background-color: #4766B2;
    border: none;
    border-radius: 6px;
}

.password>button:hover {
    cursor: pointer;
    background-color: #052986;
}

.card>h4 {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}

.desc {
    margin-bottom: 60px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
}

.desc-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 10px;
}

.name {
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    width: 660px;
}

.desc-title>div>a {
    color: rgb(96, 129, 210);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.price {
    color: rgb(219, 70, 97);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;
}

.desc-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.informations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.link {
    display: flex;
    gap: 50px;
    padding: 10px 0;
    align-items: center;
}

.link2 {
    display: flex;
    gap: 27px;
}

.link2>a {
    color: rgb(96, 129, 210);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.link>p {
    color: black;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.link2>p {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.link-copy {
    display: flex;
    gap: 5px;
    align-items: center;
}

.link-copy>a {
    color: rgb(96, 129, 210);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.desc-names{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}