<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All service</title>
    <link rel="stylesheet" href="./css/glabal.css" />
    <link rel="stylesheet" href="./css/all_service.css" />
  </head>
  <body>
  
    <section>
      <div class="container">
        <a style="color: gray" href="#">Главная / Все сервисы</a>

        <h3 style="margin-top: 20px; margin-bottom: 20px">Все сервисы</h3>
        <div style="display: flex; justify-content: space-between">
          <div>
            <p style="color: grey">
              Мы сотрудничаем только с проверенными СТО. Если сервиса нет <br />
              на агрегаторе - возможно о нём негативные отзывы.
            </p>
          </div>
          <div>
            <a style="margin-right: 10px" href="#">Плиткой</a>
            <a href="#">На карте</a>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div class="card">
          <div>
            <h4 style="margin-top: 8px">Авто Фаворит</h4>
            <img src="./assets/sevenpages/icon-crown.svg" alt="" />
          </div>
          <div>
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/Star.svg" alt="" />
            <img src="./assets/sevenpages/icon-like.svg" alt="" />
            <p style="color: grey; margin-top: 8px">3</p>
            <img src="./assets/sevenpages/Vector.svg" alt="" />
            <p style="color: grey; margin-top: 8px">0</p>
          </div>
          <div>
            <p style="color: grey; margin-top: 8px">
              Волоколамское ш., 89 корпус 1, Москва, Moscow Oblast, Россия,
              125371
            </p>
          </div>
          <div>
            <img src="./assets/sevenpages/bt chat.svg" alt="" />
            <button>ЗАПИСАТЬСЯ</button>
          </div>
        </div>
        <div style="text-align: center; margin-bottom: 30px">
          <button>СМОТРЕТЬ ЕЩЁ</button>
        </div>

        <!-- footer qo'shiladi -->
      </div>
    </section>
  </body>
</html>
