<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="./css/glabal.css" />
    <link rel="stylesheet" href="./css/products.css" />
  </head>
  <body>
    <!-- header -->

    <main>
      <section>
        <div class="container">
          <a style="color: grey" href="#"
            >Главная / Каталог / Детские автокресла</a
          >
          <div class="products__top">
            <img src="./assets/sevenpages/image (7).png" alt="" />
            <h3>
              Безопасность ребёнка <br />
              на первом месте!
            </h3>
          </div>
          <div class="cards__total">
            <div class="products__left">
              <h4>Цена</h4>
              <div style="display: flex; gap: 25px">
                <p>от 0 руб</p>
                <p>до 300 000 руб</p>
              </div>
              <img src="./assets/sevenpages/set line.svg" alt="" />
              <h4 style="margin-top: 20px">Группа:</h4>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>0+ (0-12 мес)</p>
              </div>

              <h4 style="margin-top: 20px">Бренд:</h4>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
              <div style="display: flex; gap: 10px; margin-top: 15px">
                <input type="checkbox" style="width: 10px" />
                <p>Cybex (Германия)</p>
              </div>
            </div>
            <div class="products__right">
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (2).svg" alt=""/>
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card"  routerLink="/one_product">
                <img src="./assets/sevenpages/image (8).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (9).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (10).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (2).svg" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (8).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (9).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (10).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (2).svg" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (8).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (9).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
              <div class="card" routerLink="/one_product">
                <img src="./assets/sevenpages/image (10).png" alt="" />
                <h4>Cybex</h4>
                <h5>12 890 руб</h5>
              </div>
            </div>
          </div>
          <div style="text-align: center">
            <button>СМОТРЕТЬ ЕЩЁ</button>
          </div>
          <p
            style="
              margin-top: 40px;
              width: 1170px;
              font-size: 13px;
              font-weight: 600;
              margin-bottom: 50px;
            ">
            Удобный выбор детского автокресла: - выбирайте по возрастной группе
            – каждому возрасту соответствует свое автокресло. Это обеспечивает
            удобство перевозки ребенка и его безопасность; - выбирайте детское
            автокресло по марке и модели – представляем очень большой модельный
            ряд безопасных и проверенных детских кресел. В наличии известные
            производители детских кресел Германии, Турции, Италии, России; -
            выбирайте по стоимости цены: от эконом до премиум класса; Доставка
            по Москве бесплатно при стоимости покупки свыше 4000 рублей и 450
            рублей при стоимости автокресла или бустера менее 4000 рублей; При
            заказе доставки в Москве Вы можете заказать для доставки 2
            автокресла, выбрать и оплатить одно; Доставка по России
            осуществляется транспортной компанией ПЭК. Мы доставляем до склада
            транспортной компании, Вы получаете груз в своем городе; Оформить
            заказ на детское кресло или бустер очень просто: - оформление заказа
            всего в несколько кликов и автокресло уже едет к Вам; - любая форма
            оплаты за купленное автокресло (наличными, банковский перевод,
            банковской картой, через салоны связи Евросеть и Связной, QIWI и
            Яндекс.Деньги); Покупка в торговом зале в Москве: - приезжайте сами
            или вместе с ребенком и выбирайте детское автокресло из более чем
            400 моделей, представленных в торговом зале;
          </p>

          <!-- footer qo'shiladi -->
        </div>
      </section>
    </main>
  </body>
</html>
