<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Автосервис</title>
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="pagination">
                    <a href="#" class="link">Главная /</a>
                    <a href="#" class="link">Личный кабинет СТО /</a>
                    <a href="#" class="link">Мой бренд</a>
                </div>



                <div class="infos">
                    <div class="aside-comment">
                        <div class="aside-comment-info">
                            <div class="aside-comment_header">
                                <div>
                                    <img src="/assets/com_create/icon.svg" alt="icon" class="icon">
                                    <p>Входящие заявки</p>
                                </div>
                                <img src="/assets/com_create/notif.svg" alt="notif">
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/com_create/icon.svg" alt="icon">
                                <p>Информация о сервисе</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/com_create/icon.svg" alt="icon">
                                <p>Фиксированные цены</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/com_create/icon.svg" alt="icon">
                                <p>Акции</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/com_create/icon.svg" alt="icon">
                                <p>Отзывы</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/com_create/icon.svg" alt="icon">
                                <p>Увеличить доход СТО</p>
                            </div>
                        </div>

                        <div class="aside-title">
                            <small>На вашем счету</small>
                            <p>500 бонусов</p>
                            <button>ПОТРАТИТЬ</button>
                        </div>

                    </div>

                    <div class="brand">
                        <h4>Добавьте свою компанию на бренд-площадку</h4>
                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев
                            более менее осмысленного
                            текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в
                            домашних условиях.</p>
                        <div class="infos-up">
                            <p>Основное</p>
                            <div class="upload">
                                <input type="file" name="file" id="file">
                                <div>
                                    <p>Загрузите логотип</p>
                                    <p class="desc">Рекомендуется загрузить квадратное изображение не менее 512х512 px в
                                        формате .jpg или
                                        .png</p>
                                </div>
                            </div>
                            <input type="text" placeholder="Название бренда">

                            <div class="select">
                                <p>Категория бренда:</p>
                                <div>
                                    <input type="checkbox" name="all" id="all">
                                    <strong>Все</strong>
                                </div>
                                <div>
                                    <input type="checkbox" name="cars" id="cars">
                                    <p>Автомобили</p>
                                </div>
                                <div>
                                    <input type="checkbox" name="things" id="things">
                                    <p>Запчасти</p>
                                </div>
                                <div>
                                    <input type="checkbox" name="others" id="others">
                                    <p>Заправки</p>
                                </div>
                                <div>
                                    <input type="checkbox" name="service" id="service">
                                    <p>Сервисы</p>
                                </div>
                            </div>

                            <textarea name="text" id="text" cols="100" rows="4">История бренда</textarea>


                            <button routerLink="/succes">СОХРАНИТЬ</button>
                          

                        </div>

                        <div class="media">
                            <p>Медиа</p>

                            <small>Загрузите фото или видео, связанные с Вашим сервисом</small>

                            <div>
                                <input type="file" name="img" id="img">
                                <img src="/assets/com_create/media1.png" alt="media">
                                <img src="/assets/com_create/media2.png" alt="media">
                                <img src="/assets/com_create/media3.png" alt="media">
                                <img src="/assets/com_create/media4.png" alt="media">
                            </div>
                        </div>

                        <div class="selectOption">
                            <p>Направления работы</p>

                            <div class="all">
                                <input type="checkbox">
                                <p>Выбрать все</p>
                            </div>

                            <div class="options">
                                <div>
                                    <div>
                                        <input type="checkbox">
                                        <strong>Диагностика</strong>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Диагностика АКПП</p>
                                    </div>



                                    <div>
                                        <input type="checkbox">
                                        <strong>Стёкла, фары</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Бронирование фар</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена бокового стекла</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена бокового стекла с выездом</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Бронирование фар</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена бокового стекла</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена бокового стекла с выездом</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Бронирование фар</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена бокового стекла</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена бокового стекла с выездом</p>
                                    </div>



                                    <div>
                                        <input type="checkbox">
                                        <strong>Трансмиссия</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ШРУСа</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Адаптация механизма выжима сцепления роботизированной трансмиссии</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ШРУСа</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Адаптация механизма выжима сцепления роботизированной трансмиссии</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ШРУСа</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Адаптация механизма выжима сцепления роботизированной трансмиссии</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ШРУСа</p>
                                    </div>


                                    <div>
                                        <input type="checkbox">
                                        <strong>Трансмиссия</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ШРУСа</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Адаптация механизма выжима сцепления роботизированной трансмиссии</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ШРУСа</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена сцепления</p>
                                    </div>


                                    <div>
                                        <input type="checkbox">
                                        <p>Замена сцепления</p>
                                    </div>

                                </div>

                                <div>
                                    <div>
                                        <input type="checkbox">
                                        <strong>Кузовные работы</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена крыла</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Окраска накладки наружного зеркала</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Дефектовка</p>
                                    </div>



                                    <div>
                                        <input type="checkbox">
                                        <strong>Электрика</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена генератора</p>
                                    </div>


                                    <div>
                                        <input type="checkbox">
                                        <strong>Дополнительное оборудование</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Установка парктроника</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена катализатора с "обманкой"</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Установка парктроника</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена катализатора с "обманкой"</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Установка парктроника</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена катализатора с "обманкой"</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Установка парктроника</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена катализатора с "обманкой"</p>
                                    </div>


                                </div>

                                <div>
                                    <div>
                                        <input type="checkbox">
                                        <strong>Подвеска</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>


                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена амортизаторов</p>
                                    </div>




                                    <div>
                                        <input type="checkbox">
                                        <strong>Масло, жидкости, фильтры</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Замена антифриза</p>
                                    </div>


                                    <div>
                                        <input type="checkbox">
                                        <strong>Техническое обслуживание</strong>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Базовое ТО</p>
                                    </div>

                                    <div>
                                        <input type="checkbox">
                                        <p>Базовое ТО</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Замена ремней и роликов вспомогательных механизмов</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Базовое ТО</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Базовое ТО</p>
                                    </div>
                                    <div>
                                        <input type="checkbox">
                                        <p>Базовое ТО</p>
                                    </div>
                                </div>

                            </div>
                            <button>СОХРАНИТЬ</button>
                        </div>


                    </div>


                </div>


            </div>
        </section>
    </main>
</body>

</html>