
<h2 style="font-size: 25px; margin-left: 19.1%;margin-top: 30px;">Коментария</h2>
<div class="comment">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <p style="text-align: center; margin-left: 4px; margin-right: 4px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae quae commodi perspiciatis eum facilis illum quasi optio cupiditate libero, aliquid, qui eaque voluptas dolore possimus ex repellendus sequi incidunt ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ipsa aut ut autem similique nobis ab pariatur totam veniam maxime doloremque, sed omnis iste itaque obcaecati perferendis cupiditate eveniet. Expedita maxime maiores, quasi earum quibusdam accusamus aliquam omnis! Odit, ipsam iusto quam officiis saepe sed explicabo perspiciatis dolorem iure quasi ducimus voluptatum fuga excepturi beatae, odio deleniti, aut labore blanditiis voluptatibus dicta deserunt aperiam id? Saepe quae eum quibusdam obcaecati.</p>
          </div>
          <div style="text-align: center; margin-left: 4px; margin-right: 4px;" class="carousel-item" data-bs-interval="2000">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In neque illo, quod, assumenda tempora voluptate, accusantium veritatis architecto necessitatibus laboriosam vitae! Obcaecati itaque nesciunt non alias quisquam a expedita accusantium inventore. Iure, sequi voluptas. Incidunt qui sequi asperiores nisi impedit esse eius, velit, quasi culpa odit quas voluptas, iusto fuga. Ea asperiores obcaecati, nostrum numquam adipisci rerum temporibus praesentium quo quidem quam doloremque, rem dolorem sunt impedit vero sequi! Magnam!</p>
          </div>
          <div class="carousel-item">
            <p style="text-align: center; margin-left: 4px; margin-right: 4px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Est exercitationem eos dolorem velit, tempore laboriosam animi maiores dolores non, dolore minima accusantium voluptatum necessitatibus, enim iste rem? Eius nam porro quasi exercitationem quis reiciendis consectetur eum commodi iure nihil fuga, minus eos omnis, ipsum laboriosam consequatur sunt, ut quas unde molestias delectus atque! Modi, repudiandae quas velit atque excepturi voluptas facere qui molestiae fuga autem ratione repellendus aut? Blanditiis, laudantium?</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #333;margin-right: 110px;"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #333;margin-left: 110px;"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div style="display: flex;">
    <h2 style="font-size: 25px;margin-left: 19.1%;margin-top: 20px;">Выбрать по категории</h2>
    <h2 style="font-size: 25px;margin-left: 27.5%;margin-top: 20px;">Выбрать по марке</h2>
</div>
<div style="display: flex;">
    <div class="child1">
        <input style="border: none;margin-top: 20px;margin-left: 15px; width: 350px; margin-right: 5px" type="text" placeholder="какой ремонт вам нужен?">
        <a href="">
            <img src="assets/glavni/icon-search.svg" alt="">
        </a>
        <a href="">
            <img style="margin-left: 10px;" src="assets/glavni/icon-mic.svg" alt="">
        </a>
        <hr>
        <div>
            <img style="margin-left: 15px;" src="assets/glavni/icon (4).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Диагностика</a>
            <img style="margin-left: 200px;" src="assets/glavni/icon (7).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Техническое обслуживание</a>
        </div>
        <div style="margin-top: 20px;">
            <img style="margin-left: 15px;" src="assets/glavni/icon (5).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;"  href="">Проверка сход/развала</a>
            <img style="margin-left: 119px;" src="assets/glavni/icon (8).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;"  href="">Тормозная система</a>
        </div>
        <div style="margin-top: 20px;">
            <img style="margin-left: 15px;" src="assets/glavni/icon (9).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Кузовные работы</a>
            <img style="margin-left: 162px;" src="assets/glavni/icon (10).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Трансмиссия</a>
        </div>
        <div style="margin-top: 20px;">
            <img style="margin-left: 15px;" src="assets/glavni/icon (11).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Услуги с выездом</a>
            <img style="margin-left: 162px;" src="assets/glavni/icon (12).svg"alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Подвеска</a>
        </div>
        <div style="margin-top: 20px;">
            <img style="margin-left: 15px;" src="assets/glavni/icon (13).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Защитные плёнки</a>
            <img style="margin-left: 158px;" src="assets/glavni/icon (14).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Дубликаты ключей</a>
        </div>
        <div style="margin-top: 20px;">
            <img style="margin-left: 15px;"  src="assets/glavni/icon (15).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Стёкла, фары</a>
            <img style="margin-left: 190px;"  src="assets/glavni/icon (16).svg"alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Техническое обслуживание</a>
        </div>
        <div style="margin-top: 20px;">
            <img  style="margin-left: 15px;" src="assets/glavni/icon (17).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Проверка сход/развала</a>
            <img  style="margin-left: 110px;" src="assets/glavni/icon (18).svg" alt="">
            <a style="text-decoration: none; color: black;margin-left: 15px;" href="">Тормозная система</a>
        </div>
    </div>
    <div class="child2">
        <input style="border: none;margin-top: 20px;margin-left: 15px; width: 230px;margin-right: 5px;" type="text" placeholder="какой ремонт вам нужен?">
        <a href="">
            <img src="/assets/images/glavni/kategori/1.svg" alt="">
        </a>
        <hr>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">

                <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/5.svg" class="d-block w-100" alt="...">
                <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/6.svg" class="d-block w-100" alt="...">
                <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/7.svg" class="d-block w-100" alt="..."> 
              </div>
              <div class="carousel-item">
                <img style="margin-top: 5px; width: 100;height: 100px;" src="/assets/glavni/2.svg" class="d-block w-100" alt="...">
                <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/3.svg" class="d-block w-100" alt="...">
                <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/4.svg" class="d-block w-100" alt="...">
             </div>
             <div class="carousel-item">
              <img style="margin-top: 5px; width: 100;height: 100px;" src="/assets/glavni/2.svg" class="d-block w-100" alt="...">
              <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/7.svg" class="d-block w-100" alt="..."> 
              <img style="margin-top: 5px;width: 100;height: 100px;" src="/assets/glavni/6.svg" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>

<h2 style="width: 994px; height: 44px; font-size: 22px; margin-left: 19.1%;margin-top: 30px; ">Дополнительные услуги</h2>
<div style="width: 100px;height: 170px; display: flex;margin-left: 18%; ">
    <img src="/assets/glavni/1 (1).svg" alt="">
    <img src="/assets/glavni/12.svg" alt="">
    <img  src="/assets/glavni/13.svg" alt="">
</div>
