
.child1{
    width: 650px;
    height: 435px;
    background-color:rgb(226, 222, 222);
    margin-left: 19.1%;
    margin-top: 10px;
    border-radius: 15px;
}

.child2{
    width: 270px;
    height: 435px;
    background-color:rgb(226, 222, 222);
    margin-left: 2.1%;
    margin-top: 10px;
    border-radius: 15px;
}

.comment{
    // margin-top: 30px;
    margin-bottom: 30px;
    width: 940px;
    height: 200px;
    background-image: url(/assets/images/glavni/caruselrasm/photo_2024-05-03_10-10-02.jpg);
    border: 1px solid black;
    margin-left: 19.1%;
}