<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Автосервис</title>
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="pagination">
                    <a href="#" class="link">Главная /</a>
                    <a href="#" class="link">Личный кабинет СТО /</a>
                    <a href="#" class="link">Мой авто</a>
                </div>



                <div class="infos">
                    <div class="aside-comment">
                        <div class="aside-comment-info">
                            <div class="aside-comment_header">
                                <div>
                                    <img src="/assets/myAuto/icon.svg" alt="icon" class="icon">
                                    <p>Входящие заявки</p>
                                </div>
                                <img src="/assets/myAuto/notif.svg" alt="notif">
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/myAuto/icon.svg" alt="icon">
                                <p>Информация о сервисе</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/myAuto/icon.svg" alt="icon">
                                <p>Фиксированные цены</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/myAuto/icon.svg" alt="icon">
                                <p>Акции</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/myAuto/icon.svg" alt="icon">
                                <p>Отзывы</p>
                            </div>

                            <div class="asidebar-comment">
                                <img src="/assets/myAuto/icon.svg" alt="icon">
                                <p>Увеличить доход СТО</p>
                            </div>
                        </div>

                        <div class="aside-title">
                            <small>На вашем счету</small>
                            <p>500 бонусов</p>
                            <button>ПОТРАТИТЬ</button>
                        </div>

                    </div>

                    <div class="brand">
                        <h4>Заголовок раздела об авто клиента</h4>
                        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев
                            более менее <br> осмысленного
                            текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в <br>
                            домашних условиях.</p>

                        <div class="app-title">
                            <div>
                                <a href="#">Ford Focus III</a>
                                <a href="#">Chevrolet Aveo 2011</a>
                                <a href="#">Volkswagen Golf VI</a>
                            </div>

                            <div>
                                <p>Добавить авто</p>
                                <img src="/assets/myAuto/add.svg" alt="add">
                            </div>
                        </div>

                        <div class="auto-card">
                            <div class="auto-card-title">
                                <p>Информация об авто</p>
                                <img src="/assets/myAuto/edit.svg" alt="edit">
                            </div>

                            <div class="auto-link">
                                <div class="auto-link-info">
                                    <div class="auto-link-desc">
                                        <p>Марка: <a href="#" class="name">Chevrolet</a></p>
                                        <p>Год выпуска: <a href="#" class="name">2011</a></p>
                                        <p>ОСАГО: <a href="#" class="name">РЕСО-Гарантия до 01.01.2020</a></p>
                                    </div>
                                    <div class="auto-link-desc">
                                        <p>Модель: <a href="#" class="name">Aveo</a></p>
                                        <p>VIN-код: <a href="#" class="name">1GNHGF1794HNV3645</a></p>
                                        <p>КАСКО: <a href="#" class="name">-</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="auto-input">
                            <p>Добавить запись</p>
                            <div class="auto-search">
                                <div>
                                    <input type="text" placeholder="Пробег">
                                    <input type="text" placeholder="Стоимость">
                                </div>

                                <input type="text" placeholder="Что сделано">
                                <input type="text" placeholder="Комментарий">

                                <button>ДОБАВИТЬ</button>

                            </div>
                        </div>

                        <div class="auto-list">
                            <div class="auto-list-name">
                                <p>Дата</p>
                                <p>Пробег</p>
                                <p>Что сделано</p>
                                <p>Стоимость</p>
                                <p>Комментарий</p>
                            </div>
                            <div class="auto-list-item">
                                <p>01-01-2020 01:01:01</p>
                                <p>50000</p>
                                <p>Замена ГРМ</p>
                                <p>3000</p>
                                <div>
                                    <p class="auto-defn">Следующая замена рекомендуется через 120 000 км.</p>
                                    <img src="/assets/myAuto/icon-del.svg" alt="icon-del">
                                </div>
                            </div>

                            <div class="auto-list-item">
                                <p>02-02-2020 02:02:02</p>
                                <p>51000</p>
                                <p>Замена ГРМ</p>
                                <p>2500</p>
                                <div>
                                    <p class="auto-defn">Форсунки прослужат ещё 2 месяца потом только замена.</p>
                                    <img src="/assets/myAuto/icon-del.svg" alt="icon-del">
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </section>
    </main>
</body>

</html>