<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One product section</title>
    <link rel="stylesheet" href="./css/glabal.css" />
    <link rel="stylesheet" href="./css/one_product.css" />
  </head>
  <body>
    
    <section>
      <div class="container">
        <a style="color: grey" href="#"
          >Главная / Каталог / Детские автокресла</a
        >
        <div class="products__top">
          <img src="./assets/sevenpages/image (7).png" alt="" />
          <h3>
            Безопасность ребёнка <br />
            на первом месте!
          </h3>
        </div>
        <div class="one-product__total">
          <div class="one__product">
            <img src="./assets/sevenpages/image (8).png" alt="" />
          </div>
          <div>
            <p style="font-weight: 300; size: 13px">Детское автокресло</p>
            <h2
              style="
                font-weight: 600;
                size: 25px;
                width: 174px;
                margin-top: 12px;
              ">
              Smart Travel
            </h2>
            <h5
              style="
                size: 17px;
                font-weight: 300;
                margin-top: 10px;
                margin-bottom: 10px;
              ">
              First
            </h5>
            <div class="one-product__inner">
              <div>
                <p>Группа: 0+ (0-12 мес)</p>
                <p>Гарантия: 6 месяцев</p>
              </div>
              <div>
                <p>Группа: 0+ (0-12 мес)</p>
                <p>Гарантия: 6 месяцев</p>
              </div>
              <div>
                <p>Страна происхождения:</p>
              </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h5 style="color: grey; text-decoration: line-through">
              5 225 руб
            </h5>
            <h3
              style="
                color: #db4661;
                size: 25px;
                font-weight: 700;
                margin-bottom: 5px;
              ">
              4 525 руб
            </h3>
            <button>ЗАКАЗАТЬ</button>
          </div>
        </div>
        <p
          style="margin-top: 20px; width: 1170px; font-weight: 400; size: 13px">
          Детские автокресла Smart Travel First сочетают в себе стильный
          функциональный дизайн и высокое качество исполнения. В ряде
          преимущественных особенностей, отличающих Smart Travel First от других
          моделей удерживающих устройств, пользователи отмечают удобство в
          обращении, анатомическую форму каркаса, усиленную боковую защиту.
          Наличие большого съемного капюшона обеспечивает защиту ребенка от
          воздействий ультрафиолета и непогоды. Интегрированная регулируемая
          ручка позволяет легко переносить автокресло до автомобиля. Внутренние
          ремни с широкими накладками регулируются с помощью централизованного
          замка натяжения.
        </p>
        <div style="margin-top: 50px">
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
          <div class="form__total">
            <div><p>Фиксация ребенка</p></div>
            <div><p>Внутренние 5-точечные ремни</p></div>
            <div><p>Дополнительная боковая защита</p></div>
            <div><p>Нет</p></div>
          </div>
        </div>
        <h3 style="width: 515px; margin-top: 40px; margin-bottom: 40px">
          Отзывы об использовании автокресел добавить свою
        </h3>
        <div class="one__card">
          <div style="display: flex; justify-content: space-between">
            <div style="display: flex; gap: 20px; margin-bottom: 20px">
              <h4 style="color: #db4661">Пётр Смирнов</h4>
              <img style="width: 15px" src="./assets/sevenpages/Star.svg" alt="" />
              <img style="width: 15px" src="./assets/sevenpages/Star.svg" alt="" />
              <img style="width: 15px" src="./assets/sevenpages/Star.svg" alt="" />
            </div>
            <div><p style="color: grey">06-02-2020 15:02</p></div>
          </div>
          <h4 style="margin-top: 15px; margin-bottom: 15px">
            Кресло: <span style="color: #6081d2">First Smart Travel</span>
          </h4>
          <p style="color: grey">
            Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру
            сгенерировать несколько абзацев более менее осмысленного текста рыбы
            на русском языке, а начинающему оратору отточить навык публичных
            выступлений в домашних условиях. При создании генератора мы
            использовали небезизвестный универсальный код речей. Текст
            генерируется абзацами случайным образом от двух до десяти
            предложений в абзаце, что позволяет сделать текст более
            привлекательным и живым для визуально-слухового восприятия..читать
            всё
          </p>
        </div>
        <h5>Удобный выбор детского автокресла:</h5>
        <p style="margin-bottom: 40px">
          - выбирайте по возрастной группе – каждому возрасту соответствует свое
          автокресло. Это обеспечивает удобство перевозки ребенка и его
          безопасность; - выбирайте детское автокресло по марке и модели –
          представляем очень большой модельный ряд безопасных и проверенных
          детских кресел. В наличии известные производители детских кресел
          Германии, Турции, Италии, России; - выбирайте по стоимости цены: от
          эконом до премиум класса; Доставка по Москве бесплатно при стоимости
          покупки свыше 4000 рублей и 450 рублей при стоимости автокресла или
          бустера менее 4000 рублей; При заказе доставки в Москве Вы можете
          заказать для доставки 2 автокресла, выбрать и оплатить одно; Доставка
          по России осуществляется транспортной компанией ПЭК. Мы доставляем до
          склада транспортной компании, Вы получаете груз в своем городе;
          Оформить заказ на детское кресло или бустер очень просто: - оформление
          заказа всего в несколько кликов и автокресло уже едет к Вам; - любая
          форма оплаты за купленное автокресло (наличными, банковский перевод,
          банковской картой, через салоны связи Евросеть и Связной, QIWI и
          Яндекс.Деньги); Покупка в торговом зале в Москве: - приезжайте сами
          или вместе с ребенком и выбирайте детское автокресло из более чем 400
          моделей, представленных в торговом зале;
        </p>

        <!-- footer qo'shiladi -->
      </div>
    </section>
  </body>
</html>
