<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/Comments/logo.svg">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Автосервис</title>
</head>

<body>
    <main>
        <section>
            <div class="container">
                <div class="pagination">
                    <a href="#" class="link">Главная /</a>
                    <a href="#" class="link">Личный кабинет СТО /</a>
                    <a href="#" class="link"> Отзывы</a>
                </div>

                <div class="card">
                    <div class="card--title">
                        <h4>Получайте ещё больше клиентов с агрегатором записи на ремонт</h4>
                        <img src="/assets/Comments/logo.svg" alt="logo">
                    </div>
                    <p class="card-name">Дорогие партнеры!</p>
                    <p class="card-desc">
                        В своих личных кабинетах Вы видите заявки на ремонт. Вы можете их принять, указать стоимость
                        работ, уточнить, отказаться
                        от заявки или пообщаться с клиентом в чате. Телефон клиента Вы видите только тогда, когда клиент
                        выбрал Ваше СТО.
                    </p>
                    <div class="card-info">
                        <div>
                            <img src="/assets/Comments/icon-checkmark.svg" alt="icon-checkmark">
                            <p>Помните, именно клиент выбирает дату и время записи! Если Вы никак не сможете принять его
                                в это время, очень корректно согласуйте с ним новую дату и время;</p>
                        </div>
                        <div>
                            <img src="/assets/Comments/icon-checkmark.svg" alt="icon-checkmark">
                            <p>Финансовый отдел выставляет Вам счета 1 раз в месяц за произведенные работы. Пожалуйста,
                                оплачивайте их своевременно
                                чтобы получать максимальное количество заявок;</p>
                        </div>
                        <div>
                            <img src="/assets/Comments/icon-checkmark.svg" alt="icon-checkmark">
                            <p>Качество Вашей работы влияет на рейтинг и отзывы;</p>
                        </div>
                    </div>
                </div>

                <div class="Comments">
                    <div class="aside-comment">
                        <div class="aside-comment_header">
                            <div>
                                <img src="/assets/Comments/icon.svg" alt="icon" class="icon">
                                <p>Входящие заявки</p>
                            </div>
                            <img src="/assets/Comments/notif.svg" alt="notif">
                        </div>

                        <div class="asidebar-comment">
                            <img src="/assets/Comments/icon.svg" alt="icon">
                            <p>Информация о сервисе</p>
                        </div>

                        <div class="asidebar-comment">
                            <img src="/assets/Comments/icon.svg" alt="icon">
                            <p>Фиксированные цены</p>
                        </div>

                        <div class="asidebar-comment">
                            <img src="/assets/Comments/icon.svg" alt="icon">
                            <p>Акции</p>
                        </div>

                        <div class="asidebar-comment">
                            <img src="/assets/Comments/icon.svg" alt="icon">
                            <p>Отзывы</p>
                        </div>

                        <div class="asidebar-comment">
                            <img src="/assets/Comments/icon.svg" alt="icon">
                            <p>Увеличить доход СТО</p>
                        </div>

                    </div>

                    <div class="main-comment">
                        <div class="comment-card">
                            <div>
                                <div class="comment-info">
                                    <img src="/assets/Comments/star-four.svg" alt="star-four">
                                    <p>06-02-2020 15:02</p>
                                </div>
                                <p class="comment-desc">
                                    Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько
                                    абзацев более менее осмысленного
                                    текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                                    выступлений в домашних условиях. При
                                    создании генератора мы использовали небезизвестный универсальный код речей. Текст
                                    генерируется абзацами случайным
                                    образом от двух до десяти предложений в абзаце, что позволяет сделать текст более
                                    привлекательным и живым для
                                    визуально-слухового восприятия..читать всё
                                </p>
                                <img src="/assets/Comments/voice.svg" alt="voice">
                            </div>
                            <div class="comment-link">
                                <div class="comment-link-info">
                                    <div class="comment-link-desc">
                                        <p>Клиент: <a href="#" class="name">Иван Петров</a></p>
                                        <p>Авто: <a href="#" class="name">BMW 320i</a></p>
                                    </div>
                                    <div class="comment-link-descr">
                                        <p>Услуга: <a href="#" class="name">Тормозная система</a></p>
                                        <i class="bi bi-arrow-right"></i>
                                        <a href="#" class="name">Замена колодок стояночного тормоза</a>
                                    </div>
                                </div>
                                <button>ОТВЕТИТЬ</button>
                            </div>
                        </div>
                        
                        <div class="comment-card">
                            <div>
                                <div class="comment-info">
                                    <img src="/assets/Comments/star-five.svg" alt="star-five">
                                    <p>06-02-2020 15:02</p>
                                </div>
                                <p class="comment-desc">
                                Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного
                                текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                                </p>
                            </div>
                            <div class="comment-link">
                                <div class="comment-link-info">
                                    <div class="comment-link-desc">
                                        <p>Клиент: <a href="#" class="name">Пётр Смирнов</a></p>
                                        <p>Авто: <a href="#" class="name">Ford Escort</a></p>
                                    </div>
                                    <div class="comment-link-descr">
                                        <p>Услуга: <a href="#" class="name">Стёкла, фары</a></p>
                                        <i class="bi bi-arrow-right"></i>
                                        <a href="#" class="name">Замена лобового стекла</a>
                                    </div>
                                </div>
                                <button>ОТВЕТИТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>