@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.pagination {
    font-size: 11px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    gap: 4px;
    margin-bottom: 30px;
}

.link {
    text-decoration: none;
    color: #797979;
}

.link:active {
    color: #6081D2;
    animation-duration: 0.2s;
}

.card {
    background: #0000000A;
    padding: 16px 15px 15px 15px;
    margin-bottom: 30px;
}

.card--title {
    gap: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
}


.card-name {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}

.card-desc {
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-info>div {
    display: flex;
    gap: 12px;
    align-items: center;
}

.card-info>div>p {
    color: rgba(0, 0, 0, 0.75);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.comments {
    display: flex;
    gap: 30px;
    align-items: start;
    margin-bottom: 70px;
}

.aside-comment {
    width: 270px;
}

.aside-comment_header {
    padding: 10px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-comment_header>div {
    display: flex;
    gap: 11px;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.asidebar-comment {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}

.asidebar-comment:hover {
    background-color: #0000000A;
    color: #DB4661;
}

.asidebar-comment:active {
    background-color: #0000000A;
    color: #DB4661;
}


.app-title {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    ;
}

.app-title>a:first-child {
    background-color: #DB4661;
    color: white;
}

.app-title>a {
    padding: 7px 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}

.app-title>a:hover {
    background-color: #DB4661;
    color: white;
    animation-duration: .2s;
}

.application {
    border-radius: 8px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
    background: rgb(255, 255, 255);
}

.app-card {
    padding: 15px;
    width: 870px;
    margin: 20px 0 0px 0;

}

.app-card>p {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0 15px 0;
}

.app-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

.app-card-info>div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.app-card-info>p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 5px;
}

.app-card-info>p>a {
    color: rgb(219, 70, 97);
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.app-card-info>div>p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: right;
}

.comment-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-link-desc {
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
}

.comment-link-desc>p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}


.name {
    text-decoration: none;
    color: rgb(96, 129, 210);
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.comment-link-descr {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 7px;
}

.comment-link-descr>i {
    margin-left: 5px;
    color: #0000004D;
    font-size: 14px;
}

.comment-link-descr>p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.comment-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: #4A80C614;
    padding: 10px 15px;
    color: #00000099;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
}

.comment-input>input{
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid #00000099;
    outline: none;
}
.comment-input>input[type=text] {
    width: 710px;
    height: 38px;
}

.comment-input>input[type=number] {
    width: 120px;
    height: 38px;
}

.comment-btn{
    display: flex;
    justify-content:right;
    padding: 10px 15px;
}

.comment-btn>div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.comment-btn>div>a{
    padding: 10px 20px;
    color: rgb(233, 69, 69);
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: center;
}

.comment-btn>div>button {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    padding: 7px 16px;
    background-color: #5474C2;
    border: none;
    border-radius: 6px;
}

.comment-btn>div>button:hover {
    cursor: pointer;
    background-color: #1645bd;
}


.comment-input>p:first-child{
        color: rgb(0, 0, 0) !important;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
}

.comment-input>p:last-child{
        color: rgb(219, 70, 97);
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: right;
}